@import "./media-library";

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --white: #fff;
  --dark-gray: hsl(0, 0%, 59%);
  --dark-grayish-blue: hsla(227, 10%, 46%, 0.404);
  --dark-saturated-blue: hsla(229, 23%, 23%, 0.438);
}

html {
  font-size: 62.5%;
}

//Utilities

.bold {
  font-weight: 700;
  color: black;
}

.gray {
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 0.8rem;
}
body {
  height: 100vh;
  background: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg"), var(--dark-cyan);
  background-position: -19.7916667vw -69.5833333vh, 50.1388889vw 51.8055556vh;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-library(-phone) {
    background-position: -204.8vw -101.7991vh, 43.4666667vw 56.071964vh;
  }
}

.card {
  box-shadow: 0 2rem 5rem 0.1rem var(--dark-grayish-blue),
    0 2rem 5rem 0.1rem var(--dark-saturated-blue);
  overflow: hidden;
  max-height: 37.4rem;
  border-radius: 1rem;
  background-color: var(--white);

  @include media-library(-phone) {
    max-width: 32.25rem;
  }
  &__lower {
    font-size: 1.8rem;
    position: relative;
    &--profile {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 0.5rem white;
      border-radius: 50%;
      shape-outside: circle(50%);
    }

    &__user1 {
      padding-top: 7.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--nameAge {
        text-align: center;
        width: 100%;
        margin-bottom: 1.2rem;
        font-size: 1.8rem !important;
        .bold {
          margin-right: 0.9rem;
        }

        .gray {
          font-size: 1.4rem;
        }
      }

      &--address {
        .gray {
          font-size: 1.4rem;
        }
      }
    }

    &__user2 {
      margin-top: 2.6rem;
      border-top: solid 0.01rem var(--dark-gray);
      padding: 1.9rem 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      &--box {
        display: flex;
        flex-direction: column;

        .gray {
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
